<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="description" content="Choluteca, television, radio, San Lorenzo, Honduras">
    <meta name="author" content="<Daniel Ortiz>jdoavila@gmail.com, <David Briones>dbrio2011@gmail.com">
    <link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.png">

    <title>{% block titulo %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>

    <script src="{{STATIC_URL}}js/prefixfree.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
    <div class="row">
    <header>
      
      <div class="col-md-6">
        <div class="logo">
          <img src="{{STATIC_URL}}img/logo.png"  alt="televida">
        </div><!-- /logo -->
      </div>

      <form  class="buscar" action="index_submit" method="get" accept-charset="utf-8">
        <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
             <div class="input-group">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button">Buscar:</button>
            </span>
               <input type="text" class="form-control">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-4 -->
  
          </div><!-- /.row -->
      </form><!--/buscar-->

          <div class="row"><!--Tiempo, Hora-->
            <div class="col-md-8">
             <div class="tiempo">
                <!-- www.TuTiempo.net - Ancho:218px - Alto:127px -->
                <div id="TT_vyngbhthdrKDKI2KMAVHqDjDztnKvnMzivIKvCigxKFfpVpv6"><strong><a href="http://www.tutiempo.net">El tiempo</a></strong></div>
                <script type="text/javascript" src="http://www.tutiempo.net/widget/eltiempo_vyngbhthdrKDKI2KMAVHqDjDztnKvnMzivIKvCigxKFfpVpv6"></script>
             </div>
            </div>

            <div class="hora">
                {% now "h:i a" %}<br>
                
              </div>
            
          </div><!--row Tiempo, Hora-->
          </div>

          
            <div class="col-md-12">
              <div class="botonera">
                <ul class="nav nav-tabs">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="Noticia/Archivo/">Noticias</a></li>
                  <li><a href="#">Programación</a></li>
                  <li class="chat"><a href="#">Chat</a></li>
                  <li><a href="#">Contáctanos</a></li>

                </ul>
              </div>
            </div>
          
      </div>
    </header><!-- /header -->
    <div class="row">

      {% block contenido %}
      {% endblock %}

    </div>
    <div class="row">
      <footer>
        Derechos reservados Televida Canal 63<br>
        Desarrollado por: <a href="http://www.creacioneshn.com">Creacioneshn.com</a>
      </footer><!-- /footer -->
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    <script type="text/javascript">

      $('.carousel').carousel();
    </script>

  </body>
</html>