 {% extends 'base.html' %}
  {% block titulo %} Televida | Contáctenos {% endblock %}
  {% block contenido %}

    <section id="contenido">
      
        <div class="row">

        <div class="col-md-12">
          <h1 class="titulo">Contáctenos</h1>
           <div class="contac">
             <strong>Telefonos:</strong> <br> 
             Estudio: +504  2780-4820<br>
             Oficina: +504  2780-4825<br>
             Gerencia: +504  3253-2453 / +504  9945-0829<br>
             <strong>correo:</strong>
             gerencia@televida63.com<br><br>
           </div>
        </div>
        <div class="row"><!--noticia1-->
      
          <div class="contac">
          <form name="frmContacto" method="POST" action="">{% csrf_token %}
          {{ formi.as_p }} 
          <button class="btn btn-primary" type="submit">Enviar</button> 
          </form>
          </div>
      

        </div><!--noticia1-->
        </div>


       

    </section><!-- /contenido -->
  {% endblock contenido %}