  {% extends 'base.html' %}
  {% block titulo %} Televida | Inicio {% endblock %}
  {% block contenido %}
    <section id="reproductor"><!-- reproductor, banner -->

      <div class="col-md-5">
        <div class="reproductor2">
          Reproductor
        </div>
      </div><!-- /play -->

      <div class="col-md-7">
        <div class="banner">
          banner
        </div><!-- /banner -->
      </div>

    </section ><!-- /reproductor, banner -->
    </div>

    <div class="row">

    <section id="contenido">
      <div class="titulo"><h1>Ultimas Noticias</h1></div>
      {% for Noti in TNoticias %}
      <div class="row">
           <div class="col-md-4">
             <div class="imagen">
               <img class="img-rounded" src="{{MEDIA_URL}}{{Noti.ImagenNoticia}}" alt="{{Noti.TituloNoticia}}" height="180">
             </div>
           </div>
           <div  class="{% if forloop.counter == 1 or forloop.counter == 2 %}col-md-8{% else %}col-md-4{% endif %}">
            <div class="texto">
               <h4>{{Noti.TituloNoticia|title}}</h4>
               <p>{{Noti.TextoNoticia|truncatechars:300}}</p>
               <p><a href="verNoticia/{{Noti.id}}/" class="btn btn-info">Leer más...</a></p> 
            </div>
           </div>
      </div>
      {% empty %}
      <h2>Aún no se han ingresado noticias.</h2>
      {% endfor %}
        
        <div class="col-md-4">
          <div class="encuesta">
             <h3>!Su Opinión es muy importante</h3>
             <p>Quien de estos personajes es el más idoneo para dirigir el destino de Honduras?</p>
             <p><form action="index_submit" method="get" accept-charset="utf-8">
              <input type="radio" name="group1" value="juan"> Juan Orlando Hernández<br>
              <input type="radio" name="group1" value="juan"> Mauricio Villeda<br>
              <input type="radio" name="group1" value="juan"> Xiomara Castro de Zelaya<br>
              <input type="radio" name="group1" value="juan"> Salvador Nasralla<br>
             </form></p>
           </div>
        </div>

    </section><!-- /contenido -->
  {% endblock contenido %}