  {% extends 'base.html' %}
  {% block titulo %} Televida | Inicio {% endblock %}
  {% block contenido %}
    <section id="reproductor"><!-- reproductor, banner -->

      <div class="col-md-5">
        <div class="reproductor2">
          Reproductor
        </div>
      </div><!-- /play -->

      <div class="col-md-7">
        <div class="banner">
          banner
        </div><!-- /banner -->
      </div>

    </section ><!-- /reproductor, banner -->
    </div>

    <div class="row">

    <section id="contenido">
      <div class="titulo"><h1>Ultimas Noticias</h1></div>

      <div class="row">
         
           <div class="col-md-4">
             <div class="imagen">
               imagen 200x160
             </div>
           </div>
           <div class="col-md-8">
            <div class="texto">
               <h4>Una Nación un día marca las bases de un nuevo país</h4>
               <p>Con el nuevo avance, la brecha cambiaria con el oficial, que cotiza estable a $ 5,62 para la venta, es ya del 63,70%. Tal como informó LA NACION ayer, la ganancia del dólar en el segmento mayorista quedó apenas por debajo del 14,27 por ciento que registró el último año y que había sido la mayor desde 2002, cuando tras la salida de la Convertibilidad había subido 236,25 por ciento.
               </p>
            </div>
           </div>
         

      </div>

      <div class="row">
         
           <div class="col-md-4">
             <div class="imagen">
               imagen 200x160
             </div>
           </div>
           <div class="col-md-8">
            <div class="texto">
               <h4>Una Nación un día marca las bases de un nuevo país</h4>
               <p>Con el nuevo avance, la brecha cambiaria con el oficial, que cotiza estable a $ 5,62 para la venta, es ya del 63,70%. Tal como informó LA NACION ayer, la ganancia del dólar en el segmento mayorista quedó apenas por debajo del 14,27 por ciento que registró el último año y que había sido la mayor desde 2002, cuando tras la salida de la Convertibilidad había subido 236,25 por ciento.</p>
            </div>
           </div>
      </div>

      <div class="row"><!-- row noticias2-->
        <div class="col-md-8">

          <div class="col-md-6">
             <div class="imagen">
               imagen 200x160
             </div>
           </div>
           <div class="col-md-6">
            <div class="texto">
               <h4>Una Nación un día marca las bases de un nuevo país</h4>
               <p>Con el nuevo avance, la brecha cambiaria con el oficial, que cotiza estable a $ 5,62 para la venta, es ya del 63,70%. Tal como informó LA NACION ayer, la ganancia del dólar en el segmento mayorista quedó .</p>
            </div>
           </div>


           <div class="col-md-6">
             <div class="imagen">
               imagen 200x160
             </div>
           </div>
           <div class="col-md-6">
            <div class="texto">
               <h4>Una Nación un día marca las bases de un nuevo país</h4>
               <p>Con el nuevo avance, la brecha cambiaria con el oficial, que cotiza estable a $ 5,62 para la venta, es ya del 63,70%. Tal como informó LA NACION ayer, la ganancia del dólar en el segmento mayorista quedó .</p>
            </div>
           </div>

        </div>
        


        <div class="col-md-4">
          
          <div class="encuesta">
             <h3>!Su Opinión es muy importante</h3>
             <p>Quien de estos personajes es el más idoneo para dirigir el destino de Honduras?</p>
             <p><form action="index_submit" method="get" accept-charset="utf-8">
              <input type="radio" name="group1" value="juan"> Juan Orlando Hernández<br>
              <input type="radio" name="group1" value="juan"> Mauricio Villeda<br>
              <input type="radio" name="group1" value="juan"> Xiomara Castro de Zelaya<br>
              <input type="radio" name="group1" value="juan"> Salvador Nasralla<br>
             </form></p>
           </div>
        </div>




      </div><!--fin row noticias2-->


    </section><!-- /contenido -->
  {% endblock contenido %}