 {% extends 'base.html' %}
  {% block titulo %} Televida | Inicio {% endblock %}
  {% block contenido %}

    <section id="contenido">
      
        <div class="row">
        <div class="col-md-12">
          <h1 class="titulo">Ultimas Noticias</h1>
        </div>
          {% for Noti in TNoticias %}
        <div class="row"><!--noticia1-->
        
          <div class="col-md-4">
             <div class="imagen">
               <img class="img-rounded" src="{{MEDIA_URL}}{{Noti.ImagenNoticia}}" alt="{{Noti.TituloNoticia}}" height="180">
             </div>
          </div>
           <div  class="col-md-8">
            <div class="texto">
               <h4>{{Noti.TituloNoticia|title}}</h4>
               <p>{{Noti.TextoNoticia|truncatechars:300}}</p>
               <p><a href="Noticia/{{Noti.id}}/" class="btn btn-info">Leer más...</a></p>

            </div>
           </div>
      

        </div><!--noticia1-->
         {% endfor %}
         <center>
        <ul class="pagination">
        {% if TNoticias.has_previous %}
          <li><a href="?page={{ TNoticias.previous_page_number }}">&laquo;</a></li>
        {% endif %}
          <li><a href="#">Página {{ TNoticias.number }} de {{ TNoticias.paginator.num_pages }}</a></li>
        {% if TNoticias.has_next %}
          <li><a href="?page={{ TNoticias.next_page_number }}">&raquo;</a></li>
        {% endif %}
        </ul>
        </center>
        </div>


       

    </section><!-- /contenido -->
  {% endblock contenido %}