{% block contenido %}
    <section id="contenido">

    <!--Lunes-->
      <div id="aqui" class="row">

      	<div class="col-md-6">
          <table class="table table-hover">
            <thead>
            <tr>
              
              <th>Hora</th>
              <th>Programa</th>
              
            </tr>
          </thead>
          <tr>
            <td>12:00</td>
          </tr>
             
  
          </table>
          
        </div>
        <div class="col-md-6">
          
        </div>
      

      </div>

        <!--Martes-->
        <div id="aqui" class="row">

        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          
        </div>
      

      </div>



        <!--Miercoles-->
        <div id="aqui" class="row">

        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          
        </div>
      

      </div>
        <!--Jueves-->
        <div id="aqui" class="row">

        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          
        </div>
      

      </div>
        <!--Viernes-->
        <div id="aqui" class="row">

        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          
        </div>
      

      </div>
        <!--Sabado-->
        <div id="aqui" class="row">

        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          
        </div>
      

      </div>
        <!--Domingo-->
        <div id="aqui" class="row">

        <div class="col-md-6">
          
        </div>
        <div class="col-md-6">
          
        </div>
      

      </div>


    </section><!-- /contenido -->
{% endblock contenido %}