{% extends 'base.html' %}
{% block titulo %} Televida | Inicio {% endblock %}
{% block contenido %}
    <section id="contenido">
      <div class="titulo"><h1>{{ Filtrada.TituloNoticia|title }}</h1></div>
        <img src="{{MEDIA_URL}}{{ Filtrada.ImagenNoticia }}" height="300px" alt="{{ Filtrada.TituloNoticia }}">
        <p>{{ Filtrada.TextoNoticia }}</p>
        <p>{{ Filtrada.IdTipoNoticia.TipoNoticia }}</p>
        <p>{{ Filtrada.FechaNoticia }}</p>
        <p>{{ Filtrada.IdPeriodista.NombrePeriodista }} {{ Filtrada.IdPeriodista.ApellidoPeriodista }}</p>
        <img src="{{MEDIA_URL}}{{ Filtrada.IdPeriodista.FotoPeriodista }}" height="100px" alt="{{ Filtrada.IdPeriodista.NombrePeriodista }} {{ Filtrada.IdPeriodista.ApellidoPeriodista }}">
    </section><!-- /contenido -->
{% endblock contenido %}